body {
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
}

.line {
    background-color: #000;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}

#me {
    border-radius: 200px;
    height: 200px;
    width: 175px;
    margin-top: 15px;
    transition: 1s;
}

h1 {
    text-shadow: 2px 2px 5px purple;
    font-size: 40px;
    animation-name: shadow;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    from {
        text-shadow: 2px 2px 5px purple;
    }

    to {
        text-shadow: 2px 2px 5px blue;
    }
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

iframe {
    margin: 20px;
}

.video {
    font-size: 20px;
}

#heading {
    background: linear-gradient(#33ccff 0%, #ff99cc 100%);
    padding: 50px;
}

#about_me {
    background: linear-gradient(#ff99cc 0%, #ffff66 100%);
    padding: 50px;
}

#my_family {
    background: linear-gradient(#ffff66 0%, #ff794d 100%);
    padding: 50px;
}

#hobbies {
    background: linear-gradient(#ff794d 0%, #9999ff 100%);
    padding: 50px;
}

#activities {
    background: linear-gradient(#9999ff 0%, #57abff 100%);
    padding: 50px;
}

#achievements {
    background: linear-gradient(#57abff 0%, #00ff00 100%);
    padding: 50px;
}

#journal {
    background: linear-gradient(#00ff00 0%, #ffcc66 100%);
    padding: 50px;
}

#favorite_subject {
    background: linear-gradient(#ffcc66 0%, #ff99cc 100%);
    padding: 50px;
}

#school {
    background: linear-gradient(#ff99cc 0%, #6666ff 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    transition: 0.5s;
}

img:hover {
    transform: scale(0.9);
}

h3 {
    color: aliceblue !important;
}

body {
    text-align: center;
    background-color: yellow;
}

marquee {
    background-color: navy;
    color: white;
    width: 100%
}

iframe {
    margin: 10px;
}

#mspierson {
    border-radius: 200px;
}

#map {
    margin-right: 300px;
}

.bg-primary {
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.list-group-item {
    z-index: 0;
}

#alumni {
    background-color: lightslategrey;
    padding: 50px;
    color: black;
    height: 850px;
}

div {
    text-align: center;
}

.img-responsive {
    margin-bottom: 5px;
}

.modal {
    text-align: center;
}

.contact_1 a {
    color: white;
    text-decoration: none;
}

.contact_1 h4 {
    color: white;
}

#achievements li {
    font-size: 20px;
}

#conclusion {
    color: black !important;
}
